<%+header%>

<link rel="stylesheet" href="/luci-static/resources/bitsfilemanager/fb.css?v=@ver">
<h2 name="content">BITS File Manager</h2>
<fieldset class="cbi-section fb-container">
  <input id="current-path" type="text" class="current-path cbi-input-text" value="/"/>
  <div class="panel-container">
    <div class="panel-title">File List</div>
    <button id="upload-toggle" class="upload-toggle fb-iconbtn" title="Upload">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/></svg>
    </button>
  </div>
  <div class="upload-container" id="upload-container">
    <input id="upload-file" name="upload-file" class="upload-file" type="file">
    <button type="button" id="upload-submit" class="fb-iconbtn" title="Upload">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/></svg>
    </button>
  </div>
  <div id="list-content"></div>
</fieldset>

<div id="edit-modal" class="fb-modal">
  <div class="fb-modal-box">
    <div class="fb-modal-head">
      <span id="edit-title">Edit</span>
      <button id="edit-close" class="fb-iconbtn" type="button" title="Close">&times;</button>
    </div>
    <textarea id="edit-textarea" class="fb-edit-area" spellcheck="false"></textarea>
    <div class="fb-modal-foot">
      <button id="edit-save" class="cbi-button cbi-button-save" type="button">Save</button>
      <button id="edit-cancel" class="cbi-button cbi-button-neutral" type="button">Cancel</button>
    </div>
  </div>
</div>

<script src="/luci-static/resources/bitsfilemanager/fb.js?v=@ver"></script>

<%+footer%>
